<!doctype>
<html>
<head>
	<title>Vault_Xchange</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/custom.css"/>
	<link rel="stylesheet" href="css/responsive.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".bars").click(function(){
				$("nav ul").toggle();
			});
		});
	</script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-3 col-xs-12">
				<div class="logo">
					<img src="images/logo.png"/>
				</div>
			</div>
			<div class="col-md-8 col-sm-9 col-xs-12">
				<nav>
					<ul class="text-right list-inline">
						<li><a href="#">Simple </a></li>
						<li><a href="#">Transparent </a></li>
						<li><a href="#">Secure</a></li>
						<li><a href="#">Who </a></li>
						<li class="active"><a href="#">Login/Register </a></li>
						<li><a href="#">Find  an Event </a></li>
					</ul>
					<div class="bars text-right">
						<i class="fa fa-bars"></i>
					</div>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-2 col-md-10 col-sm-oofset-2 col-xs-12">
				<div class="sec_top">
					<h3>Simply the easiest and most efficient way to organize and collect for any event</h3>
					<h2 class="text-center">
						Don't do it the hard way, <span>VaultX it</span>
					</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="in_img">
					<img src="images/football.png"/>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="in_img">
					<img src="images/baby_shower.png"/>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="in_img">
					<img src="images/school_event.png"/>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="text-center sec_mid">
					<a href="#">Simple</a>
					<p>See how easy it is to use Take it for a spin without having to register</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="text-center sec_mid">
					<a href="#">Transparent</a>
					<ul>
						<li>Fees</i>
						<li>About us</i>
						<li>Mission</i>
						<li>Fees</i>
						<li>Blog</i>
						<li>FAQ</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="text-center sec_mid">
					<a href="#">Secure</a>
					<p>The Industry Security Measures Terms & Conditions</p>
					
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="text-center sec_mid">
					<a href="#">Who</a>
					<p>See who's using Vaultxit.com</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="text-center start_now">
					<a href="#">Get Started Now</a>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="foot_left">
						<p>&copy; 2016 Vault Exchange. All Rights Reserved</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="text-right foot_right">
						<ul class="list-inline">
							<li><i class="fa fa-facebook"></i></li>
							<li><i class="fa fa-twitter"></i></li>
							<li><i class="fa fa-google-plus"></i></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>