/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.idea
/public/dependencies.js.map
/public/dependencies.js
public/upload/articles/WiwmTO0pdhsmUFZG.jpg
public/upload/articles/nLw3MvVLOMTdt8Nx.jpg
public/upload/photos/3/HJWAkzH7qMbSs5Cy.jpg
public/upload/photos/4/V37MYbx9slk2gT8K.jpg
