/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.idea
/public/dependencies.js.map
/public/dependencies.js
public/upload/articles/WiwmTO0pdhsmUFZG.jpg
public/upload/articles/nLw3MvVLOMTdt8Nx.jpg
